<ifmodule mod_vhost_ldap_ng.c>
        VhostLDAPEnabled on
        VhostLDAPUrl  "ldap://127.0.0.1:389"
        VhostLDAPBaseDN "ou=domains,dc=example,dc=com"
	#one, sub, children
        VhostLDAPSearchScope "one"
	#Append filter
        VhostLDAPFilter "apacheVhostEnabled=yes"
        VhostLdapBindDN "cn=admin,dc=example,dc=com"
        VhostLDAPBindPassword "secret"
        VhostLDapRootDir "/var/www/"
#IF HAVEPHP       phpIncludePath "/usr/share/php/"
</IfModule>
