<IfModule mod_vhost_ldap_ng.c>
        VhostLDAPEnabled on
        VhostLDAPUrl  "ldap://127.0.0.1/ou=domains,dc=example,dc=com??one?apacheVhostenabled=yes"
        VhostLdapBindDN "cn=admin,dc=example,dc=com"
        VhostLDAPBindPassword "secret"
        VhostLDapRootDir "/var/www"
	phpIncludePath "/usr/share/php/"
</IfModule>
